<!DOCTYPE html>
<html lang="en-ca">

<body>
	<div style='margin:auto;'>
		<h1>Wuzzuf "Machine Learning" Task</h1>
		<h3>Available Endpoints:</h3>
		<form action="/sentiment" method="get">
			<select name="hotel" id="hotel_sent">
				<option value="" selected disabled>Please Select Hotel:</option>
				{% for hotel in hotels %}
					<option value="{{hotel}}">{{hotel}}</option>
				{% endfor %}
			</select>
			<input type="submit" value="Sentiment">
		</form>
		<form action="/indexing" method="get">
			<select name="hotel" id="hotel_index">
				<option value="" selected disabled>Please Select Hotel:</option>
				{% for hotel in hotels %}
					<option value="{{hotel}}">{{hotel}}</option>
				{% endfor %}
			</select>
			<input type="submit" value="Elastic Search Indexing">
		</form>
	</div>
</body>

</html>